#wrapper {
    max-width: 900px;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.intro {
    margin-bottom: 4.2rem;
}

/* Article */

.article__meta {
    margin-bottom: 4.2rem;
}