#wrapper {
    max-width: 900px;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    margin: 2.6rem;
}

.intro {
    margin-bottom: 4.2rem;
}

/* Article */

.article__meta {
    margin-bottom: 4.2rem;
}

/* Notes */

.notes__single {
    margin-bottom: 1.5rem;
}

/* Footer */

.footer {
    text-align: center;
    margin: 4.2rem 0;
}
