:root {
    --background-color-highlight: #2a2139;
    --ne-global-background: #f9f9f9;
    --ne-global-foreground: #2a2139;
    --ne-body-font-family: "Lato", sans-serif;
    --ne-root-font-size: 100%;
    --ne-body-font-size: 1.125rem;
    --ne-vertical-leading: 1.6rem;
    --ne-selection-foreground: hsl(0, 0%, 100%);
    --ne-selection-background: hsl(233, 64%, 72%);
    --ne-global-box-sizing: border-box;
    --ne-outline-width: 2px;
    --ne-outline-color: hsl(0, 0%, 0%);
    --ne-basic-line-height: 1.8;
    --ne-headings-scale: 1.123;
    --ne-quote-font-size: 2rem;
    --ne-cite-foreground: hsl(266, 18%, 26%);
    --ne-cite-font-size: 1rem;
    --ne-cite-start-sign: "—";
    --ne-links-foreground: hsl(266, 18%, 26%);
    --ne-links-active-foreground: #f92aad;
    --ne-del-foreground: #f92aad;
    --ne-del-background: transparent;
    --ne-ins-foreground: hsl(161, 98%, 18%);
    --ne-ins-background: hsl(138, 100%, 88%);
    --ne-kbd-color: hsl(233, 34%, 96%);
    --ne-kbd-border-radius: 4px;
    --ne-mark-foreground: hsl(20, 100%, 26%);
    --ne-mark-background: hsl(57, 100%, 60%);
    --ne-inline-code-border-radius: 2px;
    --ne-inline-code-background: #34294f;
    --ne-button-border: 0;
    --ne-button-hover-border: 0;
    --ne-button-active-border: 0;
    --ne-button-disabled-border: 0;
    --ne-button-background: hsl(266, 18%, 26%);
    --ne-button-hover-background: hsl(233, 64%, 52%);
    --ne-button-active-background: hsl(233, 64%, 32%);
    --ne-button-disabled-background: hsl(235, 100%, 98%);
    --ne-button-foreground: hsl(0, 0%, 100%);
    --ne-button-hover-foreground: hsl(0, 0%, 100%);
    --ne-button-active-foreground: hsl(0, 0%, 100%);
    --ne-button-disabled-foreground: hsl(232, 36%, 87%);
    --ne-button-icon-size: 1em;
    --ne-button-icon-margin: 1em;
    --ne-button-border-radius: 10px;
    --ne-button-font-size: inherit;
    --ne-button-y-padding: 0.7em;
    --ne-button-x-padding: 1em;
    --ne-button-line-height: 1;
    --ne-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    --ne-checkradio-border: none;
    --ne-checkradio-background: hsl(233, 34%, 92%);
    --ne-checkradio-color: hsl(266, 18%, 26%);
    --ne-checkradio-tick-color: hsl(0, 0%, 100%);
    --ne-checkradio-size: 22px;
    --ne-checkradio-border-radius: 4px;
    --ne-checkradio-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    --ne-code-border: 1px solid hsl(0, 0%, 89%);
    --ne-code-background: transparent;
    --ne-code-foreground: hsl(220, 10%, 50%);
    --ne-code-font-size: 0.875rem;
    --ne-code-tab-size: 1.5rem;
    --ne-code-font-family: "SF Mono", Monaco, Inconsolata, "Fira Mono",
        "Droid Sans Mono", "Source Code Pro", monospace;
    --ne-code-border-radius: 5px;
    --ne-code-y-padding: 1.25rem;
    --ne-code-x-padding: 1.5rem;
    --ne-color-border: 0;
    --ne-color-border-radius: 100%;
    --ne-color-width: 24px;
    --ne-color-height: 24px;
    --ne-details-border: 2px solid hsl(213, 26%, 92%);
    --ne-details-separator-border: 0;
    --ne-details-background: hsl(0, 0%, 100%);
    --ne-details-overflow: auto;
    --ne-details-summary-background: hsl(0, 0%, 100%);
    --ne-details-summary-foreground: inherit;
    --ne-details-summary-font-size: initial;
    --ne-details-summary-open-color: hsl(266, 18%, 26%);
    --ne-details-max-height: 300px;
    --ne-details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" fill="currentColor"/></svg>');
    --ne-details-icon-size: 0.75rem;
    --ne-details-border-radius: 10px;
    --ne-details-summary-padding: 1rem;
    --ne-details-summary-position: sticky;
    --ne-dialog-border: 0;
    --ne-dialog-background: hsl(0, 0%, 100%);
    --ne-dialog-border-radius: 5px;
    --ne-dialog-y-padding: 2rem;
    --ne-dialog-x-padding: 2rem;
    --ne-dialog-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.16);
    --ne-dialog-max-width: 40rem;
    --ne-dialog-backdrop-color: rgba(0, 0, 0, 0.3);
    --ne-hr-background: hsl(233, 34%, 92%);
    --ne-hr-height: 2px;
    --ne-hr-y-margin: 50px;
    --ne-meter-border-width: 1px;
    --ne-meter-border-color: transparent;
    --ne-meter-background: hsl(233, 34%, 92%);
    --ne-meter-border-radius: 5px;
    --ne-meter-height: 8px;
    --ne-meter-strong-color: hsl(148, 78%, 52%);
    --ne-meter-good-color: hsl(41, 100%, 60%);
    --ne-meter-weak-color: hsl(354, 100%, 65%);
    --ne-progress-shadow: none;
    --ne-progress-background: hsl(233, 34%, 92%);
    --ne-progress-filled-color: hsl(266, 18%, 26%);
    --ne-progress-height: 1rem;
    --ne-progress-border-radius: 1rem;
    --ne-range-background: hsl(233, 34%, 92%);
    --ne-range-disabled-background: hsl(233, 34%, 92%);
    --ne-range-progress-color: hsl(0, 0%, 100%);
    --ne-range-disabled-progress-color: hsl(235, 100%, 98%);
    --ne-range-active-progress-color: hsl(0, 0%, 100%);
    --ne-range-thumb-background: hsl(266, 18%, 26%);
    --ne-range-thumb-active-background: hsl(266, 18%, 26%);
    --ne-range-thumb-disabled-background: hsl(232, 36%, 87%);
    --ne-range-thumb-width: 24px;
    --ne-range-thumb-height: 24px;
    --ne-range-thumb-radius: 100%;
    --ne-range-width: 100%;
    --ne-range-height: 24px;
    --ne-range-border-radius: 24px;
    --ne-select-border: 2px solid hsl(213, 26%, 92%);
    --ne-select-hover-border: 2px solid hsl(213, 26%, 92%);
    --ne-select-focus-border: 2px solid hsl(220, 100%, 50%);
    --ne-select-disabled-border: 2px solid hsl(235, 100%, 98%);
    --ne-select-background: hsl(0, 0%, 100%);
    --ne-select-hover-background: hsl(0, 0%, 100%);
    --ne-select-focus-background: hsl(0, 0%, 100%);
    --ne-select-disabled-background: hsl(235, 100%, 98%);
    --ne-select-option-checked-background: hsl(266, 18%, 26%);
    --ne-select-foreground: hsl(0, 0%, 13%);
    --ne-select-hover-foreground: hsl(0, 0%, 13%);
    --ne-select-focus-foreground: hsl(0, 0%, 13%);
    --ne-select-disabled-foreground: hsl(233, 14%, 72%);
    --ne-select-option-checked-foreground: hsl(0, 0%, 100%);
    --ne-select-border-radius: 10px;
    --ne-select-width: 100%;
    --ne-select-padding: 0.5em;
    --ne-select-icon: ;
    --ne-select-icon-size: 1.5rem;
    --ne-table-background: transparent;
    --ne-table-head-separator: 2px solid hsl(213, 26%, 92%);
    --ne-table-row-separator: 1px solid hsl(213, 26%, 92%);
    --ne-table-striped-background: transparent;
    --ne-table-cells-y-padding: 1rem;
    --ne-table-cells-x-padding: 1rem;
    --ne-textfield-border: 2px solid hsl(213, 26%, 92%);
    --ne-textfield-hover-border: 2px solid hsl(213, 26%, 92%);
    --ne-textfield-focus-border: 2px solid hsl(220, 100%, 50%);
    --ne-textfield-disabled-border: 2px solid hsl(235, 100%, 98%);
    --ne-textfield-readonly-border: 2px dashed hsl(213, 26%, 92%);
    --ne-textfield-readonly-focus-border: 2px dashed hsl(220, 100%, 50%);
    --ne-textfield-invalid-border-color: hsl(354, 100%, 65%);
    --ne-textfield-background: hsl(0, 0%, 100%);
    --ne-textfield-hover-background: hsl(0, 0%, 100%);
    --ne-textfield-focus-background: hsl(0, 0%, 100%);
    --ne-textfield-disabled-background: hsl(235, 100%, 98%);
    --ne-textfield-invalid-background: hsl(0, 0%, 100%);
    --ne-textfield-foreground: inherit;
    --ne-textfield-hover-foreground: inherit;
    --ne-textfield-focus-foreground: inherit;
    --ne-textfield-disabled-foreground: hsl(233, 24%, 72%);
    --ne-textfield-readonly-foreground: inherit;
    --ne-textfield-invalid-foreground: inherit;
    --ne-textfield-placeholder-foreground: hsl(233, 24%, 72%);
    --ne-textfield-hover-placeholder-foreground: hsl(233, 24%, 72%);
    --ne-textfield-focus-placeholder-foreground: hsl(233, 24%, 72%);
    --ne-textfield-disabled-placeholder-foreground: hsl(233, 34%, 80%);
    --ne-textfield-border-radius: 10px;
    --ne-textfield-width: 100%;
    --ne-textfield-min-height: 48px;
    --ne-textfield-y-padding: 0.5em;
    --ne-textfield-x-padding: 1em;
    --ne-textfield-selection-background: hsl(233, 64%, 90%);
    --ne-textfield-selection-foreground: hsl(0, 0%, 13%);
    --ne-textfield-resize-direction: vertical;
    --ne-textfield-font-weight: 700;
    --background-color-darker: hsl(263, 18%, 20%);
    --my-color-1: hsl(263, 18%, 20%);
    --accent-color: #f92aad;
    --my-color-3: hsl(263, 18%, 20%);
    --my-color-4: hsl(265, 12%, 64%);
    --my-color-5: hsl(1, 84%, 75%);
}

:root {
    --ne-body-font-size: clamp(1rem, 2vw, 1.2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karla", sans-serif;
    color: #34294f;
}

p code {
    color: #fdfdfd;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #f92aad;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: 1.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
}

/* Inline code */

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8e8e8e;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
    color: #e2777a;
}

.token.property,
.token.selector {
    color: #72f1b8;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.selector .token.id,
.token.function {
    color: #fdfdfd;
}

.token.class-name {
    color: #fff5f6;
}

.token.constant,
.token.symbol {
    color: #f92aad;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
    color: #f4eee4;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #67cdcc;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}