<footer class="flex flex-col justify-center items-center pt-12 pb-6">
  <div class="mb-2 w-auto">
    97 - Today
  </div>
  <div class="w-auto">
    Built with ❤️ open sourced on
    <a href="https://github.com/robalaban/notes" target="_blank">Github</a>
  </div>
</footer>