<footer class="flex flex-col justify-center items-center pt-12 pb-12 prose lg:prose-lg xl:prose-2xl text-gray-300 dark:text-gray-700 prose-pink mx-auto">
  <div>
    97 - Today
  </div>
  <div>
    Built with 💜 open sourced on
    <a class="dark:text-pink-500 text-pink-500" href="https://github.com/robalaban/notes" target="_blank">Github</a>
  </div>
</footer>
