<header class="header">
  <nav class="navigation">
    {% if '/notes' in page.url %}
      <a class="navigation__item" href="/">Home</a>
    {% endif %}
    <a class="navigation__item" rel="noreferrer" href="https://github.com/robalaban" target="_blank">Github</a>
    <a class="navigation__item" rel="noreferrer" href="https://www.linkedin.com/in/robalaban/" target="_blank">LinkedIn</a>
  </nav>
</header>