{% block intro %}
  <div class="intro">
    <h1 class="intro__greeting">Hello 👋 - I'm Robert</h1>
    <p class="intro__text">
      1/2 Software Engineer and 1/2 Data Scientist based in
      <del>London</del>
      Remote 🌎. Welcome to my humble corner of the web where I aim to share my thoughts around all things tech!
    </p>
  </div>
{% endblock intro %}