---
layout: default
title: About
eleventyNavigation:
  key: About
  order: 2
---

<section class="mx-auto lg:py-10 md:py-8 py-6 max-w-7xl flex flex-col justify-start prose lg:prose-lg xl:prose-2xl px-4 xl:px-0 dark:text-gray-600">
  <h1 class="dark:text-gray-200">
    👋 Oh, hi there!
  </h1>
</section>


<article class="prose dark:prose-dark sm:prose  lg:prose-lg  xl:prose-2xl  dark:xl:prose-2xl mx-auto px-4 md:px-0">

    <section>
      <p>
        I won't lie, I spent quite a bit of time running my websites on localhost, thinking it was available on the web the day I notied, was the day I fell in love with technology, the web and programming. 
      </p>

      <p>
        I get way too hype about new technology and still can't decide on what to use when starting new projects.
    </section>

</article>