---
layout: default
title: Welcome
---

{% include "partials/intro.njk" %}

<h3>
    Latest Notes
</h3>

<ul>
    {%- for note in collections.note -%}
        <li>
            <a href="{{ note.url }}">{{ note.data.title }}</a>
        </li>
    {%- endfor -%}
</ul>