---
layout: default
title: Thoughts and ramblings about software and data
eleventyNavigation:
  key: Home
---

{% include "partials/intro.njk" %}

<div class="notes__container">
    {%- for note in collections.note -%}
        <div class="notes__single">
            <h4>
                <a href="{{ note.url }}">{{ note.data.title }}</a>
            </h4>
            <p>
                {{ note.data.excerpt }}
            </p>
        </div>
    {%- endfor -%}
</div>