---
layout: default
title: Thoughts and ramblings about software and data
eleventyNavigation:
  key: Home
  order: 1
---

{% include "partials/intro.njk" %}

{%- for note in collections.note -%}
    <div class="prose sm:prose lg:prose-lg xl:prose-2xl mx-auto mb-6 px-4 max-w-7xl">
        <h3 class="">
            <a class="transition-colors duration-300 hover:text-gray-900 dark:text-gray-400" href="{{ note.url }}">{{ note.data.title }}</a>
        </h3>
        <span>{{note.date | dateDisplay }}</span>
        <p class="dark:text-gray-500">
            {{ note.data.excerpt }}
        </p>
    </div>
{%- endfor -%}
