<!doctype html>
<html lang="en" class="min-h-full antialiased">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ site.name }}
            {% if title %}
                -
                {{ title }}
            {% endif %}
        </title>
        <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
        {% if page.fileSlug === 'blog' %}
            <meta name="robots" content="noindex,follow"/>
        {% else %}
            <meta name="robots" content="index,follow"/>
        {% endif %}

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/main.js" defer="defer"></script>

        {# lastly include favicon, fonts, etc #}
        <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

        {# canonical #}
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    </head>

    <body {% if body_class %} id="{{ body_class }}" {% endif %}>

        <a class="sr-only" href="#main">Skip to content</a>

        {% include "partials/header.njk" %}

        <div id="wrapper">

            {# include content #}
            {{ content | safe }}

        </div>

    </body>
</html>