---
layout: default
---

{# Note Layout #}
<main id="main" tabindex="-1">

    <article class="article" id="container-centre">

        <div class="article__meta">

            <header class="article__title">
                <h2>{{ title }}</h2>
            </header>

            <time class="article__date" datetime="{{ date }}">
                {{ date | dateDisplay }}
            </time>

        </div>

        <div>

            {{ content | safe }}

        </div>

        <div>

            <div>
                {% if prevPost %}
                    <p>
                        <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
                    </p>
                {% endif %}
                {% if nextPost %}
                    <p>
                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                    </p>
                {% endif %}
            </div>
        </div>

    </article>

</main>