---
layout: default
---

{# Note Layout #}
<main id="main" tabindex="-1">

    <article id="container-centre">

        <div>

            <header>
                <h2>{{ title }}</h2>
            </header>

            {# <div>
                <time datetime="{{ date }}">
                    {{ date }}
                </time>
            </div> #}

        </div>

        <div>

            {{ content | safe }}

        </div>

        <div>

            <div>
                {% if prevPost %}
                    <p>
                        <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
                    </p>
                {% endif %}
                {% if nextPost %}
                    <p>
                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                    </p>
                {% endif %}
            </div>
        </div>

    </article>

</main>