---
layout: default
---

{# Note Layout #}
<article class="prose prose-pink sm:prose sm:prose-pink lg:prose-lg lg:prose-pink xl:prose-2xl xl:prose-pink mx-auto px-4 md:px-0">

    <header>
        <h2>{{ title }}</h2>
        <time class="article__date" datetime="{{ date }}">
            {{ date | dateDisplay }}
        </time>
    </header>

    <section>
        {{ content | safe }}
    </section>

    <footer class="grid grid-cols-2 gap-4">
        {% if prevPost %}
            <figure class="bg-gray-100 rounded-xl p-8 col-start-1">
                <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
            </figure>
        {% endif %}
        {% if nextPost %}
            <figure class="bg-gray-100 rounded-xl p-8 col-start-2">
                <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            </figure>
        {% endif %}
    </footer>
</article>